// Partials / _common.scss

// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  height: 100%;
}

// Body
body {
  width: 100%;
  font-family: $primary_font;
}

// Options
.first_options {
  display: block !important;
}

// Cards
.card-img-top {
  height: 200px;
}

.card-body {
  flex: 0 1 auto;
}
